@import "header.css";
@import "tips.css";

body {
	margin: 0;
	padding: 0;
	background: darkcyan;
	font-family: 'Poppins', sans-serif;
}

.h2 {
	background: linear-gradient(180deg, rgba(0, 147, 147, 0.8), transparent);
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;

	margin-top: -30px;
	margin-left: -10px;
	margin-right: -10px;
}

section {
	margin: 5px;
	padding: 5px;
}

#fishTank {
	display: flex;
	flex-wrap: nowrap;
	margin: 1em;
	/* border: 3px dashed burlywood; */
}

.fishList{
	flex: 4;
	display: flex;
	flex-wrap: wrap;
	
}
.fishList-card {
	background-color: lightcyan;
	margin: 1em;
	flex-basis: 25%;
	/* padding: 0 1em; */
}

.card-image {
	
}

.fish-image {
	width: 100%;
	height: auto;
}



