@import "header.css";
@import "tips.css";

body {
	background-color: antiquewhite;
	font-family: 'Poppins', sans-serif;
}

#fishTank {
	display: flex;
	flex-wrap: nowrap;
	margin: 1em;
	/* border: 3px dashed burlywood; */
}

.fishList {
	flex: 3;
	display: flex;
	flex-wrap: wrap;
}
.fishList-card {
	background-color: lightcyan;
	margin: 1em;
	flex-basis: 25%;
	padding: 0 1em;
}

.card-image {
}

.fish-image {
	width: 100%;
	height: auto;
}
