@import "header.css";
@import "tips.css";

body {
	background-color: antiquewhite;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

#fishTank {
	display: flex;
	flex-wrap: nowrap;
	margin: 1em;
	/* border: 3px dashed burlywood; */
}

.fishList{
	flex: 3;
	display: flex;
	flex-wrap: wrap;
	
}
.fishList-card {
	background-color: lightcyan;
	margin: .5em;
	flex-basis: 25%;
}

.fishList-card ul {
	list-style-type:none;
	padding: .5em;
	margin: .2em;
	font-size: .8em;
}

.card-image {
	
}

.fish-image {
	width: 100%;
	height: auto;
}

.section-main {
	margin: 1em;
}

footer {
	background-color: darkcyan;
	color: whitesmoke;
	text-align: center;
}


